
body {
  font-size: 16px;
  margin: 0;
}

/*Navigation*/

.sidenav {
  list-style-type: none;
  margin: 0;
  margin-left: 3.5rem;
  margin-top: 5rem;
  width: 25%;
  position: fixed;
  height: 100%;
  overflow: auto;
	font-family: 'Roboto', sans-serif;


}

.logo img {
	width: 140px;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
	margin: 0;
  padding: 0;
}

ul li a {
  display: block;
  color: black;
  padding: 8px 0px;
  text-decoration: none;
	font-weight: 400;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  padding: 0.8rem 0;
}

ul li a.active {
  font-weight: 600;
}

ul li a:hover:not(.active) {
  font-weight: 500;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;

  min-width: 8rem;
  padding: 12px 0px;
  z-index: 1;
  top: 1.5rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
  font-family: 'Roboto' , sans-serif;
  font-size: 0.6rem;
  text-transform: uppercase;
  }

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover {
  padding-bottom: 7rem;
}

/*Grafik Design Content Hover Images Text*/

.container {
  position: relative;
  width: 100%;
  z-index: 1;
}


.image {
  opacity: 1;
  transition: .5s ease;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.design-text {
  margin-left: 10%;
  text-align: left;
  width: 60%;
  background-color: white;
  padding-bottom: 3rem;

}

.design-text a {
  color: black;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
	font-weight: 400;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.13rem;

}

div.design-content {
  margin-left: 25%;
  padding: 5rem 1rem 1rem 1rem;
  height: 1000px;
  text-align: center;

}


.design-content {
  margin:auto;
}

.design-content img {
	width: 80%;
	height: auto;
  margin: 1rem;
}

.design-content video{
  width: 80%;
	height: auto;
  margin: 1rem;
}

.row {
 box-sizing: border-box;
}

.row,
.row > .column {
  padding: 1rem;
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33%;
  box-sizing: border-box;

}

.row:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

video {
  width: 100%;    !important;
  height: auto;   !important;
}

/*Content*/




div.content {
  margin-left: 25%;
  padding: 5rem 1rem 1rem 1rem;
  height: 1000px;
  text-align: center;
}

.content img {
	width: 80%;
	height: auto;
  padding-bottom: 2rem;
}

.content iframe {
	width: 80%;
  height: auto;
  border: 1px solid red;
  padding-bottom: 2rem;
}


.content video {
  width: 80%;
	height: auto;
  padding-bottom: 2rem;
}


.mobile-only {
  display: hidden;
  width: 23px;
  height: 3px;
  border-top: 9px double black;
  border-bottom: 3px solid black;
}

.copyright {
  position: fixed;
  bottom: 0;
  z-index: 300;
  margin-left: 3.5rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
  line-height: 1.2rem;
}

.rewatex {
  max-width: 800px;
}

h2 {
  line-height: normal;
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h3 {
  display:inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  letter-spacing: 0.2rem;

}

h4 {
  font-weight: 400;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-family: 'Roboto', sans-serif;
}


.about-text {
  margin-left: 20%;
  text-align: left;
  width: 60%;
  background-color: white;
}

.about-text a {
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.social a  {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 20px 25px 5px 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.social,.about-text a:hover {
  font-weight: 600;
}




/*Responsive*/


@media screen and (max-width: 900px) {
  .sidenav {
    display: block;
    width: 100%;
    height: 125px;
    margin: 0;
    position: relative fixed;
    overflow: visible;
    background-color: white;

    z-index: 100;
	}

  .logo {
    float:left;
    margin-top: 2rem;
    margin-left: 2rem;
    z-index: 100;
  }

  div.content {
		margin-left: 0;
    padding-top: 9rem;
	}

  div.design-content {
		margin-left: 0;
    padding-top: 9rem;
	}

  .social a {
    width: 100%;
  }

  .rewatex {

    width: 100%;
  }

  .mobile-only {
    display: inline-block;
    float: right;
    margin-right: 2rem;
    margin-top: 3.5rem;
    position: sticky;
  }

  nav ul, nav:active  ul {
  display: none;
  position: absolute;
  padding: 0;
  background: #f1f1f1;
  right: 5px;
  top: 75px;
  width: 150px;

 }

nav:hover ul {
  display: block;
  padding: 5px;
 }

nav li {
  text-align: center;
  width: 100%;
  padding: 10px 0px 0px 0px;
  margin: 0;

 }

 nav:hover {
   display: block;
 }

 .dropdown-content {
   display: block;

   position: relative;
   margin:0;
   padding: 0;
   text-align: center;
   z-index:100;

 }

  ul {
    display: none;
    padding: 10px;


	}

  .dropdown {
    border: 2px solid white;
    padding-bottom: 2rem;
  }

  .dropdown:hover {
    padding-bottom: 2rem;
  }

 .dropdown-content a {
   width: 95px;
   color: black;
   text-decoration: none;
   font-family: 'Roboto' , sans-serif;
   font-size: 10px;
   text-transform: uppercase;
   margin-right: auto;
   margin-left: auto;
 }

 .column {
   width: 50%;

}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
